#ubuntu-rootfs/root/*
#!ubuntu-rootfs/root/.bashrc
#!ubuntu-rootfs/root/.vimrc

#ubuntu-rootfs/var/*
#!ubuntu-rootfs/var/lib/dpkg
#!ubuntu-rootfs/var/lib/aspell
#!ubuntu-rootfs/var/lib/apt
#!ubuntu-rootfs/var/lib/dictionaries-common
#!ubuntu-rootfs/var/lib/python
#!ubuntu-rootfs/var/lib/systemd
#!ubuntu-rootfs/var/cache/man

#ubuntu-rootfs/var/lib/systemd/random-seed

ubuntu-rootfs.img

ubuntu-rootfs/var/lib/docker/

ubuntu-rootfs/root/.bash_history
ubuntu-rootfs/root/.viminfo
#ubuntu-rootfs/root/.Xauthority
ubuntu-rootfs/root/.vim
ubuntu-rootfs/root/.ssh/*
ubuntu-rootfs/root/.cache
ubuntu-rootfs/root/.gnupg
