[Desktop Entry]
Categories=System;Network;Dialup;ConsoleOnly;
Comment=Friendly menu driven serial communication program
Exec=minicom
Name=minicom
NoDisplay=false
Terminal=true
Type=Application
