[Unit]
Description=Auto mount umount storage device on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/systemd/system/auto-device-mount.sh add %i
ExecStop=/etc/systemd/system/auto-device-mount.sh remove %i

