#!/bin/sh

set -e

# Source debconf library
. /usr/share/debconf/confmodule

db_get iptables-persistent/autosave_done || true
if [ "x$RET" != "xtrue" ]; then
	# Save iptables rules?
	db_input high iptables-persistent/autosave_v4 || true
	db_go

	# Save ip6tables rules?
	db_input high iptables-persistent/autosave_v6 || true
	db_go
fi
